<ul class="news-list">
  {% for post in include.posts limit:include.limit %}
  <li>
    <a class="news-card" href="{{ post.url | relative_url }}">
      <img class="news-card__image" src="{{ post.thumbnail | default: '/assets/images/teaser-top.svg' | relative_url }}" alt="" width="1200" height="630" loading="lazy">
      <div class="news-card__body">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y.%m.%d' }}</time>
        <h3 class="news-card__title">{{ post.title | escape }}</h3>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
